table {
    border-collapse: collapse;
}
th {background-color:cornflowerblue; color:white; }

td {padding-right: 75px; padding-bottom: 5px;}

.tr1 {background-color: gray; color:blue}

.tr2 {border-bottom: 3px solid cornflowerblue;}